
<div class="wrapper_padding">
	<figure>
		<%= link_to root_path, title: "Tyler Porter Logo" do %>
	 			<%= image_tag 'tyler.svg', alt: 'Tyler Porter Logo', class: "name" %>
			<% end %>
	</figure>
	<h1>I'll be back.</h1>
	<div class="social">
		<a target="_BLANK" href="//twitter.com/imtylerporter">twitter</a> ~
		<a target="_BLANK" href="//instagram.com/imtylerporter">instagram</a> ~
		<a target="_BLANK" href="//www.linkedin.com/in/imtylerporter">linkedin</a>
	</div>
</div>