// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts_wrapper {
	.profile-header{
		margin-bottom: 4rem;
		border-bottom: 1px solid $border;
		.col-1-profile{
		    width: 30%;
		    float: left;
		    img {
		    	margin: 0 auto;
    			padding: 0 1em;
    			width: 100%;
		    }
		}
		.col-2-profile{
			padding-left: 5.5%;
			width: 70%;
			float: left;
			a {
				text-decoration: none;
				color: $highlight;
				font-weight: 700;
			}
		}
		.button{
			display: block;
			margin-bottom: 4em;
		}
	}

}

@media (max-width:768px) {
	#posts_wrapper{
		.profile-header {
			.col-1-profile, .col-2-profile {
				width: 100%;
				float: none;
			}
			.col-1-profile {
				img{
					width: 45%;
					display: block;
					margin-bottom: 2em;
				}
			}
		}
	}
}
