// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts_wrapper {
	.profile-header{
		margin-bottom: 4rem;
		border-bottom: 1px solid $border;
		.col-1-profile{
		    width: 30%;
		    float: left;
		    img {
		    	margin: 0 auto;
    			padding: 0 1em;
		    }
		}
		.col-2-profile{
			padding-left: 5.5%;
			width: 70%;
			float: left;
			a {
				text-decoration: none;
				color: $highlight;
				font-weight: 700;
			}
		}
		.button{
			display: block;
			margin-bottom: 4em;
		}
	}


}
